* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}
div {
  box-sizing: border-box;
}
a {
  color: #000;
  text-decoration: none;
}
session {
  display: block;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 20px 30px;
  padding: 30px;
  background-color: #fff;
}
/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */
@font-face {
  font-family: 'iconfont';
  /* Project id 4370236 */
  src: url('//at.alicdn.com/t/c/font_4370236_jp43ek62ib.woff2?t=1704424985733') format('woff2'), url('//at.alicdn.com/t/c/font_4370236_jp43ek62ib.woff?t=1704424985733') format('woff'), url('//at.alicdn.com/t/c/font_4370236_jp43ek62ib.ttf?t=1704424985733') format('truetype'), url('//at.alicdn.com/t/c/font_4370236_jp43ek62ib.svg?t=1704424985733#iconfont') format('svg');
}
:root {
  --background-color-light: #f5f5f5;
  --text-color-light: #000000;
  --session-color-light: #fff;
  --background-color-dark: #101014;
  --text-color-dark: #ffffff;
  --session-color-dark: #272727;
}
/* 根据暗黑模式应用不同的样式 */
body[dark-mode='true'] {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}
body[dark-mode='true'] session {
  background-color: var(--session-color-dark);
}
body[dark-mode='false'] {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
}
html.dark {
  --w-e-textarea-bg-color: #333;
  --w-e-textarea-color: #fff;
}
